$mediaXS-405: 405px;
$mediaXS-406: 406px;
$mediaXS-416: 416px;
$mediaS-500: 500px;
$mediaS-543: 543px;
$mediaM-600: 600px;
$mediaM-675: 675px;
$media-720: 720px;
$media-960: 960px;
$mediaL: 992px;
$mediaXL: 1200px;
$mediaXXL: 1400px;