[class*="grid-"]
[class*="--reverse"] {
    flex-direction: row-reverse;
}

[class*="flex-container"],
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-fluid {
    flex: 1;
    min-width: 0;
}

.w10 {
    width: 10%;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.mrl {
    margin-right: 1.85em;
}

.mls {
    margin-left: 1.25em;
}

.mlm {
    margin-left: 1.45em;
}

.mll {
    margin-left: 1.85em;
}

.pts {
    padding-top: 1rem;
}

@media (min-width: 544px) {
    .full {
        flex: 0 0 auto;
        width: calc(100% / 1 - 0.01px);
    }
    
    .one-fifth {
        flex: 0 0 auto;
        width: calc(100% / 5 - 0.01px);
    }
}

@media (min-width:544px){
    [class*=" grid-"],
    [class^=grid-] {
        display:flex;
        flex-flow:row wrap;
    }

    [class*=" grid-"] > *,
    [class^=grid-] > * {
        box-sizing:border-box;
        min-width:0;
        min-height:0
    }
    .grid,
    .grid--reverse {
        display:flex
    }

    .grid--reverse > *,
    .grid > * {
        flex:1 1 0;
        box-sizing:border-box;
        min-width:0;
        min-height:0
    }

    .grid--reverse.has-gutter > * + *,
    .grid.has-gutter > * + * {
        margin-left:calc(1rem - .01px)
    }

    [class*="grid-2"] > * {
        width: calc(100% / 2 - 0.01px);
    }

    [class*="grid-2"].has-gutter {
        margin-right: -0.5rem;
        margin-left: -0.5rem;
    }

    [class*="grid-2"].has-gutter > * {
        width: calc(100% / 2 - 1rem - 0.01px);
        margin-left: 0.5rem !important;
    }
}

@media (min-width:544px) {
    .has-gutter .full {
        width:calc(100% / 1 - 1rem - .01px)
    }

    .one-fifth {
        flex:0 0 auto;
        width:calc(100% / 5 - .01px)
    }
}

@media (max-width: 543px) {
    .col,
    fieldset {
        display: block !important;
        float: none !important;
        clear: none !important;
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border: 0;
    }

    .flex-container {
        flex-direction: column;
    }
}