/// www.KNACSS.com V6.0.5 (1er décembre 2016) author: Alsacreations, Raphael Goetter
/// Licence WTFPL http://www.wtfpl.net/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    &:active,
    &:hover {
        outline-width: 0;
    }
}

ul,
ol {
    padding-left: 2em;
}

img {
    vertical-align: middle;
    border-style: none;
}

input[type="number"] {
    appearance: textfield;
}

blockquote,
figure {
    margin-left: 0;
    margin-right: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

template,
[hidden] {
    display: none;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
    padding: 2px 4px;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,
input,
select,
textarea {
    font-size: inherit;
    margin: 0;
}

optgroup {
    font-weight: bold;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font-size: inherit;
}

ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
    margin-top: .75em;
    margin-bottom: 0;
    line-height: 1.5;
}

code,
pre,
samp,
kbd {
    white-space: pre-line;
    white-space: pre-wrap;
    font-family: consolas, courier, monospace;
    line-height: normal;
}

em,
.italic,
address,
cite,
i,
var {
    font-style: italic;
}

p:first-child,
.p-like:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child {
    margin-top: 0;
}

li p,
li .p-like,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
    max-width: 100%;
}

img {
    height: auto;
}

@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    body {
        width: auto;
        margin: auto;
        font-family: serif;
        font-size: 12pt;
    }

    h1,
    .h1-like,
    h2,
    .h2-like,
    h3,
    .h3-like,
    h4,
    .h4-like,
    h5,
    .h5-like,
    h6,
    .h6-like,
    blockquote,
    ul,
    ol {
        color: #000;
        margin: auto;
    }
    .print {
        display: block;
    }
    .no-print {
        display: none;
    }
    p,
    .p-like,
    blockquote {
        orphans: 3;
        widows: 3;
    }
    blockquote,
    ul,
    ol {
        page-break-inside: avoid;
    }
    h1,
    .h1-like,
    h2,
    .h2-like,
    h3,
    .h3-like,
    caption {
        page-break-after: avoid;
    }
    a {
        color: #000;
    }
    a[href^="javascript:"]::after,
    a[href^="#"]::after {
        content: "";
    }
}

code,
kbd,
mark {
    border-radius: 2px;
}

kbd {
    padding: 0 2px;
    border: 1px solid #999;
}

code {
    padding: 2px 4px;
    background: rgba(0, 0, 0, 0.04);
    color: #b11;
}

pre code {
    padding: 0;
    background: none;
    color: inherit;
    border-radius: 0;
}

sup,
sub {
    vertical-align: 0;
}

sup {
    bottom: 1ex;
}

sub {
    top: 0.5ex;
}

blockquote {
    position: relative;
    padding-left: 3em;
    min-height: 2em;
}

blockquote {
    &:before {
        content: "\201C";
        position: absolute;
        left: 0;
        top: 0;
        font-family: georgia, serif;
        font-size: 5em;
        height: .4em;
        line-height: .9;
        color: rgba(0, 0, 0, 0.3);
    }

    footer {
        margin-top: .75em;
        font-size: .9em;
        color: rgba(0, 0, 0, 0.7);

        &:before {
            content: "\2014 \0020";
        }
    }
}

q {
    font-style: normal;
}

q,
.q {
    quotes: "“\00a0" "\00a0”";
}

q:lang(fr),
.q:lang(fr) {
    quotes: "«\00a0" "\00a0»";
}

hr {
    display: block;
    clear: both;
    height: 1px;
    margin: 1em 0 2em;
    padding: 0;
    border: 0;
    color: #ccc;
    background-color: #ccc;
}

table,
.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    vertical-align: top;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
}

.table {
    display: table;
}

caption {
    padding: 1rem;
    color: #555;
    font-style: italic;
}

td,
th {
    padding: .3em .8em;
    border: 1px #aaa dotted;
    text-align: left;
}

.skip-links {
    position: absolute;

    a {
        position: absolute;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0.5em;
        background: black;
        color: white;
        text-decoration: none;

        &:focus {
            position: static;
            overflow: visible;
            clip: auto;
        }
    }
}

@media (max-width: 543px) {
    div,
    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        word-wrap: break-word;
        hyphens: auto;
    }
}

@media (max-width: 543px) {
    .no-wrapping {
        word-wrap: normal;
        hyphens: manual;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }
}

#recaptcha_table,
.table-auto {
    table-layout: auto;
}

td,
th {
    vertical-align: top;
    min-width: 2rem;
    cursor: default;
}

.btn {
    display: inline-block;
}

form,
fieldset {
    border: none;
}

input,
button,
select,
label,
.btn {
    font-family: inherit;
    font-size: inherit;
}

button,
input,
optgroup,
select,
textarea {
    color: #000;
}

label {
    vertical-align: middle;
    cursor: pointer;
}

legend {
    border: 0;
    white-space: normal;
}

textarea {
    min-height: 5em;
    vertical-align: top;
    font-family: inherit;
    font-size: inherit;
    resize: vertical;
}

select {
    -webkit-appearance: menulist-button;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

::-webkit-input-placeholder {
    color: #777;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #777;
}

.btn:focus,
input[type="button"]:focus,
button:focus {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

button.unstyled,
input[type="button"].unstyled,
input[type="submit"].unstyled,
input[type="reset"].unstyled {
    padding: 0;
    border: none;
    line-height: 1;
    text-align: left;
    background: none;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
}
button.unstyled:focus,
input[type="button"].unstyled:focus,
input[type="submit"].unstyled:focus,
input[type="reset"].unstyled:focus {
    box-shadow: none;
    outline: none;
}

@media (min-width: 544px) {
    .o-media {
        display: flex;
        align-items: flex-start;
    }
    .o-media-content {
        flex: 1;
        min-width: 0;
    }
    .o-media--reverse {
        flex-direction: row-reverse;
    }
    .o-media-figure--center {
        align-self: center;
    }
    [class^="autogrid"],
    [class*=" autogrid"] {
        display: flex;
    }
    [class^="autogrid"] > *,
    [class*=" autogrid"] > * {
        flex: 1;
        min-width: 0;
    }
    .has-gutter > *:not(:first-child) {
        margin-left: 1rem;
    }
    [class*="--reverse"] {
        flex-direction: row-reverse;
    }
}